@import "normalize";
@import "template";

body {
}

#painted-wall-window {
    background: transparent;
    min-height: 1372px;
}

#header {
    background-image: linear-gradient(to top, #0ba360 0%, #3cba92 100%);
    > h1 {
        margin: 0;
        // Position
        position: relative;
        top: 0;
        right: 10rem;

        // Text and font
        text-align: right;
        color: rgba(198, 135, 118, 0.1);
        font-size: 4rem;
    }
}

#rebolting-info {
    background: transparent;
    padding: 1em;
}

#third {
    height: 300px;
    background-color: #0000ff;
}
